{% extends 'base.html.twig' %}

{% block title %}Calendar for reservation{% endblock %}

{% block body %}
  <pre>
  {{ dump(data) }}
</pre>
  <div class="container">
    <div id="calendar"></div>
  </div>

{% endblock %}

{% block javascripts %}
  <script>
    window.onload = () => {
      let calendarElt = document.querySelector("#calendar")

      let calendar = new FullCalendar.Calendar(calendarElt, {
        initialView: 'timeGridWeek',
        locale: 'en',
        timeZone: 'Europe/Paris',
        headerToolbar: {
          start: 'prev,next today',
          center: 'title',
          end: 'dayGridMonth,timeGridWeek'
        },
        events: {{ data|raw }}, // for screen on calendar
        editable: true, //=> can move
        eventResizableFromStart: true
      })

      /*   calendar.on('eventChange', (e) => {
        let url = `/api/${e.event.id}/edit`
        let donnees = {
          "studio": e.event.extendedProps.studio,
          "author": e.event.extendedProps.author,
          "start": e.event.start,
          "end": e.event.end,
          //  "amount": e.event.extendedProps.amount,
          "createdAt": e.event.extendedProps.createdAt,
          "updatedAt": e.event.extendedProps.updatedAt,
          "registered": e.event.extendedProps.registered
        }
        console.log(e)
        let xhr = new XMLHttpRequest

        xhr.open("PUT", url)
        xhr.send(JSON.stringify(donnees))
      })*/

      calendar.render()
    }
  </script>
{% endblock %}