{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

  <div class="jumbotron text-center">
    <h1 class="display-4">AdminSpace</h1>
    <p class="lead">Welcome to the space for administrator!</p>

    <img src="https://www.arnouxassur.com/public/img/big/recordingstudio3973796960720jpg_5cb4adb6b9f46.jpg" class="rounded mx-auto d-block" alt="...">

  </div>

{% endblock %}