{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">AdminSpace</h1>
    <p class="lead">Welcome to the space for administrator!</p>
  </div>

{% endblock %}